%dl.accordion{"data-accordion" => ""}
  %dd
    %a{href: "#panel1"} Send it to one of our addresses.
    #panel1.content
      %table
        %tbody
          %tr
            %td ANC
            %td AGAu3MAX6kV9ogfhF8UhiGDAHJtyi7SW9H
          %tr
            %td ASC
            %td A74fgvTQk1QMgVdkc9VaUWWYXQrheTHhDX
          %tr
            %td BFC
            %td B6kBJQi3116SB6KQ7owWmGbHbpFFx859Lf
          %tr
            %td BOC
            %td B9bm3GhtuNzFsnnWghodYimqd2p3WCg8M1 
          %tr
            %td BTC
            %td 16c5vFFXwdyTYBVMKRPzDVeRhUE9vihb4v   
          %tr
            %td BTE
            %td 8Ti2pjiFsUC8SuQobtD72DNpJ4aXp4vq1C    
          %tr
            %td CAP
            %td Er9wP7PUq3qJBVW85dMohgtCy3qPZ8yKLp     
          %tr
            %td CAT
            %td 9Vg1q2RG7a4n6c2ypsxHMRdr6a3ohiQnyd       
          %tr
            %td CGB
            %td 5mLzMSmpNtetjhcDPRppMH3R2AQRMhbxbb       
          %tr
            %td CMC
            %td C2gVDYGTpJVz7p8y5egcvSNi8KiUEdyJk9           
          %tr
            %td DEM
            %td NWkFBqW8dqCZUtMLe294WjEJrmQSpqngJK
          %tr
            %td DGC
            %td DNQqpoFUXqB6WShRbKbSXf3VduUAAT3yfW
          %tr
            %td DOGE
            %td DB3sj6Kjhu3Uq9SynQ7bhG6pfaUbDtY1aK
          %tr
            %td EAC
            %td eWZDcfFynpXdxSwDFkrxayvGWzxGdzyvxm
          %tr
            %td EXC
            %td PAtgPxLjKBqbn4zRgu7hFdoV6NvP2ouEj1
          %tr
            %td FFC
            %td FbFDiZrNaT2WEXcjrUeTFLjkAv8jqBE6ct
          %tr
            %td FRE
            %td fmL491yuHVQ7oTnkuSLUQeb3u9cU6x7xLb
          %tr
            %td FST
            %td fmbRt5MuhK7dhPyKJww5ekUgk4Jonhm524
          %tr
            %td FTC
            %td 6gFBs5e1sw3cuTSWTfR1GgY5eQaTXV9VG9
          %tr
            %td DEM
            %td NWkFBqW8dqCZUtMLe294WjEJrmQSpqngJK
          %tr
            %td GLD
            %td EDp93jsc25kh7hkBTbjwJBstsEye9RtX77
          %tr
            %td GRW
            %td GXj4RbqCumdkPXTmGiDWrHGpvzsT58Yswg
          %tr
            %td HBN
            %td ErxTMvzJpnSa3GwhXuP2x2Gyhc2MmLfweW
          %tr
            %td IFC
            %td i81g3YDtbs8RnjRMXe3ctJhP4XjPvy22NG
          %tr
            %td LKY
            %td KwEbLGpFi4vuYxA8cqdA92zct1ktpjFauv
          %tr
            %td LTC
            %td LMsy5Czmz2rTkgHHMjHvfciYzNU7NbrMEP
          %tr
            %td MEC
            %td MX3yrTvzYJq4qrueddsYo8WiuJfhuYQ15j
          %tr
            %td MNC
            %td MNPHb61VrfNPXWNi2CkfE4fwzPQyRSUdpb
          %tr
            %td MOON
            %td 2c8t4SxR4CNFzzStxDXSyzVpsK5iA6G27Z
          %tr
            %td NEC
            %td NWw4gCPEZd2MWVDeZv1kJUvNyk1vaqUnMk
          %tr
            %td NVC
            %td 4XV7aQKandiAoYTRaHh8Y8o9A5XZaWRBEs
          %tr
            %td OSC
            %td 2A5AJHYuWvpHawLKZhjJirVT8hfXgkVAGB
          %tr
            %td PHS
            %td 9mKPJ9XKWiqGB3B1nXrSTBVEE8senowQRT
          %tr
            %td PPC
            %td PBcoNic3vQDcFQ8BFfSkHZEuoidKxAvHDa
          %tr
            %td PXC
            %td PjCF95za1dAneC3T8gHNSpb6BgKtBrLrHC
          %tr
            %td PYC
            %td PGkhRwcFjgjbBewHryrwKAA4PTri4AWban
          %tr
            %td SRC
            %td scGEWohjmKLNwnseYjWcU6Mh6ktaTP5KQ4
          %tr
            %td SXC
            %td S9fK7nx8d8Fi6MNi9XPbGNpJJ45shH5wdW
          %tr
            %td TAG
            %td TEcZ2kvBr2jDpWgGtFodVrCAvWPagbas1j
          %tr
            %td TEK
            %td BbMMQxEs7AmViX1fyUQXo4TNwHR78dfyGY
          %tr
            %td TGC
            %td t9YHvnWRGUXCrf4FEPKzgUhgfBYC9ktr4h
          %tr
            %td TRC
            %td 1BXd3PgmdaYsRzuxyejhy2f4fuCSS2xNnu
          %tr
            %td UNO
            %td uNQEKuXXMLAa5AsQC7PULDV97owoDLFpnu
          %tr
            %td WDC
            %td WjXmHzpk6jzZqn1GCkESD91zUXTzfcdBmz
          %tr
            %td XJO
            %td Je2WrcK4cCRzZZUsjLVesNcsvtRFyKrJp9
          %tr
            %td XPM
            %td AWffVYMYz6ts8AU5E7gdRdjjCdsYjBhDTw