%hr/

%h3 Our crypto promotions/giveaways:

%p ...coming after the first donation :)

%hr/

%p
  .left
    = link_to "Bitcointalk Thread", "https://bitcointalk.org/index.php?action=post;board=67.0"
  .right
    CryptoRevive!